# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

**Objectives:**
* List popular languages for Data Science.
* List of common used libraries used by Data Scientist.
* Examples of Arithmetics expression in Python.

Some of the popular languages that Data Scientists use are:

1. Python.
2. SQL 
3. R
4. Julia
5. JavaScript
6. Scala
7. Java
8. Go

Some of the commonly used libraries used by Data Scientists include:

    1. TensorFlow.
    2. NumPy.
    3. SciPy.
    4. Pandas.
    5. Matplotlib.
    6. Keras.
    7. SciKit-Learn.
    8. PyTorch.

|Data Science Tools|
|---|
|RStudio|
|Apache Spark|
|TensorFlow |

### Below are a few examples of evaluating arithmetic expressions in Python

In [4]:
# This a simple arithmetic expression to mutiply then add integers
(3*4)+5

17

In [5]:
# This will convert 200 minutes to hours by diving by 60.
200/60

3.3333333333333335

## Author:
Jose Antonio Galindo